<h2><a href="/pokemon">Pokedex</a></h2>

<h3>Edit</h3>
<form action="/pokemon/<%=@pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name: </label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">

  <label>Type: </label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <label>CP</label>
  <input name="pokemon[cp]" value="<%= @pokemon.cp %>">

  <label>Image URL</label>
  <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">

  <input type="submit" value="update">
</form>

<form action="/pokemon/<%=@pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="delete!">
</form>
